html {
  font-size: 20px;
  scroll-behavior: smooth;
}

body {
  font-family: "Inter", sans-serif;
  line-height: 1;
  color: #000;
  font-weight: 400;
}

* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  box-sizing: border-box;
}

input, button, textarea {
  font-family: inherit;
}

button {
  cursor: pointer;
}

ul li {
  list-style: none;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

a, a:visited {
  text-decoration: none;
}

.wrapper {
  margin: 0 auto;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 20px;
}

.defPos {
  padding: 20px 0 40px;
}

.defaultTitle {
  display: block;
  font-family: "Forum";
  font-size: 2rem;
  text-align: center;
  letter-spacing: 2px;
}
.defaultTitle::after {
  content: "";
  display: block;
  width: 50px;
  height: 1px;
  margin: 20px auto 48px;
  background-color: #0C0C0E;
}

.bodyHidden {
  overflow: hidden;
}

.bodyHiddenModal {
  overflow: hidden;
}

.noneDisplay {
  display: none;
}

.bcgOpacity {
  display: none;
  content: "";
  position: absolute;
  width: 100%;
  height: 1000%;
  opacity: 0.5;
  transition: 0.5s;
  z-index: 50;
  background-color: #000;
}

.activeOpacity {
  display: block;
  transition: 0.5s;
}

.modal__register {
  position: fixed;
  top: 50%;
  left: 51%;
  transform: translate(-50%, -51%);
  padding: 20px 25px;
  z-index: 1000;
  width: 250px;
  height: auto;
  background: #fff;
}
.modal__register__title {
  text-align: center;
  font-family: "Forum";
  letter-spacing: 0.4px;
  text-transform: uppercase;
  margin-bottom: 20px;
}
.modal__register__icon {
  position: absolute;
  top: 15px;
  right: 15px;
}
.modal__register__content {
  margin-bottom: 10px;
}
.modal__register__subtitle {
  font-size: 15px;
  line-height: 20px;
  margin-bottom: 10px;
  letter-spacing: 0.3px;
}
.modal__register__input {
  width: 200px;
  border: 1px solid #BB945F;
}
.modal__register__btn {
  font-size: 10px;
  font-weight: 700;
  letter-spacing: 1px;
  padding: 9px 15px;
  margin: 10px 0;
  border-radius: 2px;
  background-color: #fff;
  border: 1px solid #0C0C0E;
}
.modal__register__login {
  text-shadow: 0px 2px 3px rgba(255, 255, 255, 0.16);
  font-size: 10px;
}
.modal__register__login button {
  color: #0C0C0E;
  background-color: #fff;
  font-size: 10px;
  margin-left: 10px;
  font-weight: 700;
  letter-spacing: 1px;
  text-decoration-line: underline;
}

.errorInput .modal__register__input {
  border-color: red;
}

.errorLabelModal {
  display: block;
  margin-top: 5px;
  font-size: 10px;
  color: red;
}

.header {
  height: 90px;
  background-color: #0C0C0E;
}
.header__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 0;
}
.header__logo {
  font-family: "Forum";
  font-size: 1.5rem;
  letter-spacing: 0.5px;
  color: #fff;
}
.header__right {
  display: flex;
  align-items: center;
}

.nav__list {
  display: flex;
  margin-right: 40px;
}
.nav__item {
  margin-right: 30px;
  text-align: center;
}
.nav__item:last-child {
  margin-right: 0;
}
.nav__link {
  position: relative;
  color: #fff;
  transition: 0.3s;
}
.nav__link:after {
  content: "";
  position: absolute;
  display: block;
  width: 100%;
  height: 3px;
  margin-top: 3px;
  z-index: 1;
  background-color: #BB945F;
  opacity: 0;
  transition: opacity 0.3s;
}
.nav__link:hover {
  color: #BB945F;
}
.nav__link:hover::after {
  opacity: 1;
}

.header__icon {
  position: relative;
  cursor: pointer;
  z-index: 10;
  width: 26px;
  height: 26px;
}

.header__dropMenu {
  width: 80px;
  height: 115px;
  position: absolute;
  top: 65px;
  right: 18px;
  background-color: #fff;
  text-align: center;
  padding: 5px 0 16px;
}
.header__dropMenu__title {
  position: relative;
  font-size: 15px;
  line-height: 20px;
  margin-bottom: 20px;
  font-weight: 700;
}
.header__dropMenu__title::after {
  content: "";
  position: absolute;
  display: block;
  width: 40px;
  height: 1px;
  margin: 3px 0 0 20px;
  z-index: 1;
  background-color: #BB945F;
}
.header__dropMenu__text {
  text-align: center;
  font-size: 15px;
  font-weight: 400;
  margin-bottom: 20px;
}

.header__iconUser {
  width: 30px;
  height: 30px;
  z-index: 10;
  background-color: #fff;
  border-radius: 50px;
}

.header__iconUser p {
  margin-top: 5px;
  text-align: center;
  color: #BB945F;
  font-size: 15px;
  line-height: 20px;
}

.header__dropMenuUser {
  width: 80px;
  height: 115px;
  position: absolute;
  top: 65px;
  right: 18px;
  background-color: #fff;
  text-align: center;
  padding: 5px 0 16px;
}
.header__dropMenuUser__title {
  position: relative;
  font-size: 15px;
  line-height: 20px;
  margin-bottom: 20px;
  font-weight: 700;
}
.header__dropMenuUser__title::after {
  content: "";
  position: absolute;
  display: block;
  width: 40px;
  height: 1px;
  margin: 3px 0 0 20px;
  z-index: 1;
  background-color: #BB945F;
}
.header__dropMenuUser__text {
  text-align: center;
  font-size: 15px;
  font-weight: 400;
  margin-bottom: 20px;
}

.welcome {
  background-image: linear-gradient(rgb(12, 12, 14), rgba(18, 18, 21, 0.1)), url("../../../img/headerAndWelcome/Welcome.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.welcome__pos {
  width: 585px;
  padding: 220px 0 160px 16px;
}
.welcome__title {
  font-family: "Forum";
  font-size: 2rem;
  padding: 35px 40px 35px 0;
  line-height: 50px;
  letter-spacing: 3px;
  text-align: center;
  text-transform: uppercase;
  color: #fff;
  background-color: #0C0C0E;
}

.about {
  text-align: center;
}
.about__paragraph {
  margin: -0.5% 0 1.2%;
  line-height: 40px;
}
.about__slider-container {
  margin-bottom: 2.5%;
}
.about__slider .about__slider-line {
  white-space: nowrap;
  scroll-behavior: smooth;
  overflow: hidden;
}
.about__slider {
  max-width: 1400px;
}
.about__slider-line img {
  width: 32%;
  margin-right: 20px;
  -o-object-fit: cover;
     object-fit: cover;
  height: 560px;
}
.about__slider-line img:last-child {
  margin-right: 0;
}
.about__arrow {
  display: none;
}
.about__pagination {
  display: flex;
  justify-content: center;
}
.about__pagination-content {
  width: 26px;
  height: 26px;
  cursor: pointer;
  background: none;
}
.about__pagination-content:nth-child(4), .about__pagination-content:nth-child(5) {
  display: none;
}
.about__pagination-circle {
  display: block;
  width: 16px;
  height: 16px;
  margin: 5px auto 0;
  border-radius: 50%;
  background-color: #0C0C0E;
}

.active {
  background-color: #BB945F;
}

.favorites__paragraph {
  margin: -0.35% 0 3.2%;
}
.favorites__radioButtons {
  display: flex;
  margin-bottom: 2.8%;
}
.favorites__btn {
  position: relative;
  margin-right: 6.2%;
}
.favorites__btn:last-child {
  margin-right: 0;
}
.favorites__btn input {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  position: absolute;
}
.favorites__btn input:checked + label {
  font-weight: 700;
}
.favorites__btn input:checked + .radio-label::after {
  opacity: 1;
}

.radio-label {
  cursor: pointer;
  padding: 5px 5px 5px 36px;
}
.radio-label:before {
  content: "";
  display: block;
  position: absolute;
  width: 17px;
  height: 17px;
  border: 2px solid black;
  border-radius: 50%;
  z-index: 1;
}
.radio-label::after {
  content: "";
  position: absolute;
  top: 5px;
  left: 5px;
  z-index: 2;
  display: block;
  width: 7px;
  height: 7px;
  background-color: #000;
  border-radius: 50%;
  opacity: 0;
  transition: opacity 0.5s;
}

.favorites__books {
  display: flex;
  flex-wrap: wrap;
  gap: 40px 257px;
}

.noneDisplay {
  display: none;
}

.favorites__book {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 552px;
  height: 555px;
  padding: 1.6% 1.04% 1.04% 1.4%;
  border: 1px solid #000000;
}
.favorites__book__subtitle {
  font-family: "Forum";
  letter-spacing: 2px;
}
.favorites__book__subtitle::after {
  content: "";
  display: block;
  margin: 2% 0 3.8%;
  width: 60px;
  height: 1px;
  background-color: #BB945F;
}
.favorites__book__title {
  font-size: 0.75rem;
  font-weight: 700;
  line-height: 40px;
  margin-bottom: 3.8%;
  letter-spacing: 2px;
}
.favorites__book__title span {
  text-transform: uppercase;
}
.favorites__book__paragraph {
  width: 69%;
  font-size: 0.75rem;
  letter-spacing: 2px;
  line-height: 40px;
  text-transform: capitalize;
}
.favorites__book__btn {
  width: 75px;
  font-size: 0.5rem;
  font-weight: 700;
  letter-spacing: 1px;
  padding: 9px 0;
  margin-top: auto;
  border: 1px solid #000;
  background-color: #fff;
  border-radius: 3px;
  transition: 0.3s;
}
.favorites__book__btn:hover:not(:disabled) {
  background-color: #BB945F;
  border: 1px solid #BB945F;
}
.favorites__book__btn:disabled {
  color: #BB945F;
  border: 1px solid #BB945F;
  cursor: default;
}
.favorites__book__img {
  position: absolute;
  bottom: -1px;
  right: -38px;
}

@keyframes fade {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes appearance {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.transition-fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

.transition-appearance {
  animation-name: appearance;
  animation-duration: 1.5s;
}

.coffeShop__paragraph {
  letter-spacing: 2px;
  line-height: 40px;
  text-align: center;
  margin: -10px 0 3%;
}
.coffeShop__sell {
  display: flex;
  justify-content: space-between;
}
.coffeShop__title {
  font-family: "Forum";
  font-size: 2rem;
  letter-spacing: 2px;
  margin-bottom: 10.7%;
  color: #BB945F;
}
.coffeShop__drink {
  display: flex;
  justify-content: space-between;
  margin-bottom: 13.7%;
}
.coffeShop__drink:last-child {
  margin-bottom: 0;
}
.coffeShop__dish-name {
  letter-spacing: 2px;
  text-transform: capitalize;
}
.coffeShop__dish-sell {
  font-family: "Forum";
}
.coffeShop__dish-sell::before {
  content: "";
  display: inline-block;
  width: 100px;
  margin: 0 64px 0 60px;
  height: 1px;
  background-color: #BB945F;
  vertical-align: middle;
}
.coffeShop__desserts {
  text-align: right;
}
.coffeShop__food {
  display: flex;
  justify-content: right;
  margin-bottom: 13%;
}
.coffeShop__food:last-child {
  margin-bottom: 0;
}

.contacts__content {
  display: flex;
  justify-content: space-between;
}
.contacts__title {
  font-weight: 700;
  letter-spacing: 2px;
  text-transform: capitalize;
  margin-bottom: 9.6%;
}
.contacts .secondTitle {
  margin-bottom: 7.5%;
}
.contacts__phones {
  margin: 12.3% 0;
}
.contacts__phone {
  text-transform: capitalize;
  letter-spacing: 2px;
  margin-bottom: 7.8%;
}
.contacts__phone a {
  color: inherit;
  transition: 0.3s;
  cursor: pointer;
}
.contacts__phone a:hover {
  color: #BB945F;
}
.contacts__mail {
  letter-spacing: 2px;
}
.contacts__mail a {
  color: inherit;
  cursor: pointer;
  transition: 0.3s;
}
.contacts__mail a:hover {
  color: #BB945F;
}
.contacts__map {
  margin-top: -10px;
}

.libraryCard__container {
  display: flex;
  justify-content: space-between;
}
.libraryCard__card-title {
  font-size: 1.5rem;
  letter-spacing: 0.6px;
  text-align: center;
  margin-bottom: 4.9%;
}
.libraryCard__card-container {
  border: 3px solid #BB945F;
  text-align: center;
  padding: 19px 18px 26px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.libraryCard__form {
  width: 560px;
  background-color: #BB945F;
  margin-bottom: 4%;
  padding: 28px 20px 23px 19px;
}
.libraryCard__form-title {
  color: #000;
  font-family: "Forum";
  font-size: 1.5rem;
  letter-spacing: 0.6px;
  text-align: left;
  margin-bottom: 6%;
}
.libraryCard__form form {
  display: flex;
  flex-direction: column;
}
.libraryCard__form-input {
  font-size: 1.5rem;
  font-family: "Forum";
  border: 1px solid #fff;
  color: #BB945F;
  letter-spacing: 0.6px;
  margin-bottom: 4.8%;
  padding: 16px 20px;
  border-radius: 10px;
}
.libraryCard__form-input:last-child {
  margin-bottom: 0;
}
.libraryCard__form-input:focus {
  border-color: #000;
  outline: 0;
}
.libraryCard__form-btn {
  font-size: 1rem;
  font-weight: 700;
  letter-spacing: 1px;
  background-color: #fff;
  border-radius: 2px;
  border: 1px solid #0C0C0E;
  padding: 10px 40px;
  transition: 0.3s;
}
.libraryCard__form-btn:hover {
  border-color: #BB945F;
  background-color: #BB945F;
}

.libraryCard__login {
  text-align: right;
}
.libraryCard__login-title {
  font-family: "Forum";
  font-size: 1.5rem;
  letter-spacing: 0.6px;
  margin: -1px 0 6.7%;
}
.libraryCard__login-paragraph {
  color: #000;
  line-height: 40px;
  letter-spacing: 0.4px;
  max-width: 456px;
  margin-bottom: 8%;
}
.libraryCard__login-btn {
  font-size: 0.5rem;
  margin-right: 14px;
  letter-spacing: 1px;
  font-weight: 700;
  padding: 8px 14px;
  border-radius: 2px;
  border: 1px solid #0C0C0E;
  background-color: #fff;
  transition: 0.3s;
}
.libraryCard__login-btn:last-child {
  margin-right: 0;
  padding: 8px 19px;
}
.libraryCard__login-btn:hover {
  border-color: #BB945F;
  background-color: #BB945F;
}

.info {
  background: #0C0C0E;
}
.info__container {
  padding: 20px 0 44px;
}
.info__block {
  font-size: 0.75rem;
  color: #fff;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  margin-bottom: 0.4%;
}
.info__paragraph a {
  line-height: 20px;
  color: inherit;
}
.info__week {
  text-align: right;
  line-height: 20px;
}
.info__social {
  display: flex;
  justify-content: space-between;
  width: 102px;
}
.info__title a {
  position: relative;
  left: 13.5%;
  color: #fff;
}
.info__username a {
  color: #fff;
}

.infoBlockTwo {
  margin-top: 0.7%;
}
.infoBlockTwo::after {
  content: "";
  display: block;
  width: 100%;
  height: 2px;
  margin: 2% 0 3%;
  background-color: #fff;
}

.infoBlockThree {
  font-size: 1rem;
  margin-bottom: 0;
  line-height: 20px;
  letter-spacing: 2px;
}

@media screen and (max-width: 1400px) {
  .about__slider {
    width: 900px;
    margin: 0 auto;
  }
  .about__slider-line img {
    width: 49.5%;
  }
  .about__pagination-content:nth-child(4) {
    display: block;
  }
  .favorites__books {
    justify-content: space-between;
    gap: 40px 0;
  }
}
@media screen and (max-width: 1200px) {
  .favorites__books {
    gap: 40px 60px;
    justify-content: center;
  }
}
@media screen and (max-width: 1024px) {
  .nav {
    position: fixed;
    width: 332px;
    height: 580px;
    top: 0;
    right: -100%;
    transition-duration: 0.5s;
    background: #0C0C0E;
  }
  .nav.activeMenu {
    right: 0;
  }
  .nav__list {
    display: block;
    margin: 100px 100px 70px 100px;
  }
  .nav__item {
    margin: 0 0 30px 0;
    line-height: 50px;
  }
  .nav__link:hover::after {
    display: none;
  }
  .header__dropMenu {
    right: 105px;
  }
  .header__burger-icon {
    display: block;
    position: relative;
    width: 45px;
    height: 20px;
    margin: 0 0 0 42px;
    z-index: 50;
    cursor: pointer;
  }
  .header__burger-icon::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 10%;
    width: 100%;
    background-color: #fff;
    transition: all 0.2s ease 0.1s;
  }
  .header__burger-icon::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -6%;
    height: 10%;
    width: 100%;
    background-color: #fff;
    transition: all 0.2s ease 0.1s;
  }
  .span__burger {
    position: absolute;
    top: 48%;
    left: 0;
    height: 10%;
    width: 100%;
    background-color: #fff;
    transition: all 0.2s ease 0.1s;
    transform: scale(1) rotate(0deg);
  }
  .header__burger-icon.activeIcon::before {
    top: 50%;
    transform: rotate(-45deg) translate(0px, -50%);
  }
  .header__burger-icon.activeIcon span {
    transform: rotate(45deg);
  }
  .header__burger-icon.activeIcon::after {
    bottom: 50%;
    transform: rotate(45deg) translate(0px, 50%);
  }
  .favorites__paragraph {
    margin-bottom: 6%;
    background: #fff;
    top: 0;
    z-index: 100;
    width: 100%;
  }
  .favorites__radioButtons {
    margin-bottom: 5.5%;
    gap: 0 42px;
    background: #fff;
    top: 0;
    z-index: 100;
    width: 100%;
  }
  .coffeShop__paragraph {
    margin-bottom: 6%;
  }
  .coffeShop__paragraph span {
    margin-left: -4px;
  }
  .coffeShop__sell {
    flex-direction: column;
    gap: 50px 0;
    margin-bottom: 2%;
  }
  .coffeShop__drinkables {
    width: 441px;
  }
  .dessertsMargin {
    margin-bottom: 6.5%;
  }
  .foodMargin {
    margin-bottom: 8.2%;
  }
  .contacts__content {
    flex-wrap: wrap;
    gap: 121px 0;
  }
  .contacts__map img {
    max-width: 100%;
    height: auto;
    margin: 0 0 0 10px;
  }
  .libraryCard__container {
    flex-wrap: wrap;
    justify-content: center;
    gap: 25px 0;
  }
  .libraryCard__login {
    text-align: center;
  }
  .libraryCard__login-paragraph {
    max-width: 600px;
    margin-bottom: 6.5%;
  }
  .infoBlockTwo {
    margin-top: 1.7%;
  }
  .infoBlockTwo::after {
    margin: 4% 0 6%;
  }
  .info__title a {
    left: 4.5%;
  }
}
@media screen and (max-width: 944px) {
  .about__paragraph {
    margin-bottom: 2.5%;
  }
  .about__slider {
    width: 450px;
    margin: 0 45px;
  }
  .about__slider-container {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .about__slider-line img {
    width: 100%;
    margin-right: -6px;
  }
  .about__arrowBtn {
    display: inline-block;
    position: relative;
    top: 20px;
    background-color: inherit;
  }
  .about__arrow {
    display: inline-block;
    cursor: pointer;
  }
  .about #arrowLeft {
    opacity: 0.3;
  }
  .about__pagination-content:nth-child(5) {
    display: block;
  }
  .favorites__books {
    margin-left: -37px;
  }
  .favorites__book {
    padding: 3% 2.04% 1.7% 2.4%;
  }
}