html {
  font-size: 20px;
}

body {
  font-family: "Inter", sans-serif;
  line-height: 1;
  color: #000;
  font-weight: 400;
}

* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  box-sizing: border-box;
}

input, button, textarea {
  font-family: inherit;
}

button {
  cursor: pointer;
}

ul li {
  list-style: none;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

a, a:visited {
  text-decoration: none;
}

p {
  width: auto;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 20px;
}

.header {
  height: 90px;
  background-color: #0C0C0E;
}
.header__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 0;
}
.header__logo {
  font-family: "Forum";
  font-size: 1.5rem;
  letter-spacing: 0.5px;
  color: #fff;
}
.header__right {
  display: flex;
  align-items: center;
}

.nav__list {
  display: flex;
  margin-right: 40px;
}
.nav__item {
  margin-right: 30px;
  text-align: center;
}
.nav__item:last-child {
  margin-right: 0;
}
.nav__link {
  position: relative;
  color: #fff;
  transition: 0.3s;
}
.nav__link:after {
  content: "";
  position: absolute;
  display: block;
  width: 100%;
  height: 3px;
  margin-top: 3px;
  z-index: 1;
  background-color: #BB945F;
  opacity: 0;
  transition: opacity 0.3s;
}
.nav__link:hover {
  color: #BB945F;
}
.nav__link:hover::after {
  opacity: 1;
}

.header__icon {
  cursor: pointer;
}

.welcome {
  width: 100%;
  background-image: linear-gradient(rgb(12, 12, 14), rgba(18, 18, 21, 0.1)), url("../../../img/headerAndWelcome/Welcome.png");
  background-repeat: no-repeat;
  background-size: cover;
  height: 91.5vh;
}
.welcome__pos {
  width: 600px;
  height: 220px;
  padding: 220px 0 160px 0;
}
.welcome__title {
  font-family: "Forum";
  font-size: 2rem;
  padding: 35px 40px;
  line-height: 50px;
  letter-spacing: 3px;
  text-align: center;
  text-transform: uppercase;
  color: #fff;
  background-color: #0C0C0E;
}