body{font-family: 'Arial', sans-serif;font-size: 16px;line-height: 1;}
*{padding: 0; margin: 0; border: 0;}
*,*:before,*:after{-moz-box-sizing: border-box;-webkit-box-sizing: border-box;box-sizing: border-box;}
input,button,textarea{font-family: inherit;}
button{cursor: pointer;}
ul li{list-style: none;}
h1,h2,h3,h4,h5,h6{font-size:inherit;}
a,a:visited{text-decoration: none;color:inherit}
p{width: auto}

.game-zone {
	position: relative;
	min-height: 100vh;
	background: url('img/back.png');
}

.player {
	position: absolute;
	width: 78px;
	height: 77px;
	background: url('img/player-top.png');
	background-repeat: no-repeat;
}

.shot {
	position: absolute;
	width: 16px;
	height: 16px;
	background: url('img/bullet.png');
	background-repeat: no-repeat;
}

.enemy {
	position: absolute;
	top: 500px;
	width: 78px;
	height: 77px;
	background: url('img/enemy-right.png');
	background-repeat: no-repeat;
}