body{font-family: 'Pixelify Sans', sans-serif;font-size: 16px;line-height: 1; font-weight: 400;}
*{padding: 0; margin: 0; border: 0;}
*,*:before,*:after{-moz-box-sizing: border-box;-webkit-box-sizing: border-box;box-sizing: border-box;}
input,button,textarea{font-family: inherit;}
button{cursor: pointer;}
ul li{list-style: none;}
h1,h2,h3,h4,h5,h6{font-size:inherit;}
a,a:visited{text-decoration: none;color:inherit}
p{width: auto}

.noneDisplay {
	display: none;
}

.game-zone {
	position: relative;
	min-height: 100vh;
	background: url('img/back.png');
}

.player {
	position: absolute;
	width: 78px;
	height: 77px;
	background: url('img/player-top.png');
	background-repeat: no-repeat;
}

.shot {
	position: absolute;
	width: 16px;
	height: 16px;
	background: url('img/bullet.png');
	background-repeat: no-repeat;
}

.shotEnemy {
	position: absolute;
	width: 16px;
	height: 16px;
	background: url('img/bullet.png');
	background-repeat: no-repeat;
}

.enemy {
	position: absolute;
	width: 78px;
	height: 77px;
	background: url('img/enemy-right.png');
	background-repeat: no-repeat;
}

.game__info {
	position: absolute;
	font-size: 25px;
	top: 20px;
	left: 20px;
	z-index: 10;
	width: 300px;
	padding: 10px;
	border: 3px solid black;
}

.game__name {
	line-height: 1.4;
}

.counter {
	display: inline-block;
	margin-left: 10px;
}

.game__heart {
	position: absolute;
	top: 10px;
	right: 10px;
	z-index: 10;
}

.game__heart img {
	width: 50px;
}

.game__over {
	position: absolute;
	text-align: center;
	top:50%;
	left:50%;
	transform:translate(-50%, -50%);
	font-size: 100px;
}

.game__over p {
	animation-name: flashing;
	Animation-iteration-count: infinite;
	animation-duration: 4s;
}

.game__over button {
	background: none;
	/* animation-name: flashing; */
	/* animation-duration: 2s; */
	font-size: 40px;
	border: 5px solid black;
	padding: 15px;
}

@keyframes flashing {
	0% {
		opacity: 1;
	}

	50% {
		opacity: 0;
	}

	100% {
		opacity: 1;
	}
}