.about {
	text-align: center;

	&__paragraph {
		margin: -0.5% 0 1.2%;
		line-height: 40px;
	}

	&__slider-container {
		display: flex;
		justify-content: center;
		align-items: center;
		margin-bottom: 5.5%;
	}

	&__slider {
		position: relative;
		display: flex;
		justify-content: space-between;
		gap: 0 5px;
		flex-wrap: wrap;
		overflow: hidden;
		height: 560px;
	}

	&__arrow {
		display: none;
	}

	&__pagination {
		display: flex;
		justify-content: center;

		&-content {
			width: 26px;
			height: 26px;
			cursor: pointer;

			&:nth-child(4),
			&:nth-child(5) {
				display: none;
			}
		}
		
		&-circle {
			width: 16px;
			height: 16px;
			margin: 5px auto 0;
			border-radius: 50%;
			background-color: #0C0C0E;
		}
	}
}

.active {
	background-color: #BB945F;
}




