.about {
	text-align: center;

	&__paragraph {
		margin-bottom: 2.2%;
	}

	&__slider {
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;
		margin-bottom: 2.5%;
	}

	&__pagination {
		display: flex;
		justify-content: center;
		&-content {
			width: 26px;
			height: 26px;
			cursor: pointer;
		}
		&-circle {
			width: 16px;
			height: 16px;
			margin: 5px auto 0;
			border-radius: 50%;
			background-color: #0C0C0E;
		}
	}
}

.active {
	background-color: #BB945F;
}