html{font-size: 20px;}
body{font-family: 'Inter', sans-serif;line-height: 1;color: #000; font-weight: 400;}
*{padding: 0; margin: 0; border: 0;}
*,*:before,*:after{-moz-box-sizing: border-box;-webkit-box-sizing: border-box;box-sizing: border-box;}
input,button,textarea{font-family: inherit;}
button{cursor: pointer;}
ul li{list-style: none;}
h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: inherit;}
a,a:visited{text-decoration: none;}

.container {
	max-width: 1440px;
	margin: 0 auto;
	padding: 0 20px;
}

.defPos {
	margin: 20px 0 40px;
}

.defaultTitle {
	display: block;
	font-family: 'Forum';
	font-size: 2rem;
	text-align: center;
	letter-spacing: 2px;
	&::after {
		content: "";
			display: block;
			width: 50px;
			height: 1px;
			margin: 20px auto 48px;
			background-color: #0C0C0E;
	}
}
