.favorites {
	
	&__paragraph {
		margin: -0.35% 0 3.2%;
	}

	&__radioButtons {
		display: flex;
		margin-bottom: 2.8%;
	}

	&__btn {
		position: relative;
		margin-right: 6.2%;

		&:last-child {
				margin-right: 0;
			}
			& input {
				appearance: none;
				position: absolute;
			}
			& input:checked + label {
				font-weight: 700;
			}
			& input:checked + .radio-label::after {
				opacity: 1;
			}
		}
	}

.radio-label {
	cursor: pointer;
	padding: 5px 5px 5px 36px;

	&:before {
		content: "";
		display: block;
		position: absolute;
		width: 17px;
		height: 17px;
		border: 2px solid black;
		border-radius: 50%;
		z-index: 1;
	}

		&::after {
		content: "";
		position: absolute;
		top: 5px;
		left: 5px;
		z-index: 2;
		display: block;
		width: 7px;
		height: 7px;
		background-color: #000;
		border-radius: 50%;
		opacity: 0;
		transition: opacity 0.5s;
	}
}

.favorites__books {
	display: flex;
	flex-wrap: wrap;
	gap: 40px 257px;
	margin-right: 20px;
}

.noneDisplay {
	display: none;
}

.favorites__book {
	display: flex;
	flex-direction: column;
	position: relative;
	width: 552px;
	height: 555px;
	padding: 1.6% 1.04% 1.04% 1.4%;
	border: 1px solid #000000;

	&__subtitle {
		font-family: 'Forum';
		letter-spacing: 2px;

		&::after {
			content: "";
			display: block;
			margin: 2% 0 3.8%;
			width: 60px;
			height: 1px;
			background-color: #BB945F;
		}
	}

	&__title {
		font-size: 0.75rem;
		font-weight: 700;
		line-height: 40px;
		margin-bottom: 3.8%;
		letter-spacing: 2px;
	}

	&__title span {
		text-transform: uppercase;
	}

	&__paragraph {
		width: 69%;
		font-size: 0.75rem;
		letter-spacing: 2px;
		line-height: 40px;
		text-transform: capitalize;
	}

	&__btn {
		width: 75px;
		font-size: 0.5rem;
		font-weight: 700;
		letter-spacing: 1px;
		padding: 9px 0;
		margin-top: auto;
		border: 1px solid #000;
		background-color: #fff;
		border-radius: 3px;
		transition: 0.3s;
		&:hover:not(:disabled) {
			background-color: #BB945F;
			border: 1px solid #BB945F;
		}
		&:disabled {
			color: #BB945F;
			border: 1px solid #BB945F;
			cursor: default;
		}
	}

	&__img {
		position: absolute;
		bottom: -1px;
		right: -38px;
	}
}

@keyframes fade {
	0% {opacity: 1;}
	100%{opacity: 0;}
}

@keyframes appearance {
	0% {opacity: 0;}
	100%{opacity: 1;}
}

.transition-fade {
	animation-name: fade;
	animation-duration: 1.5s;
}

.transition-appearance {
	animation-name: appearance;
	animation-duration: 1.5s;
}




