.header {
	height: 90px;
	background-color: #0C0C0E;
	
	&__wrapper {
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: 30px 0;
	}

	&__logo {
		font-family: 'Forum';
		font-size: 1.5rem;
		letter-spacing: 0.5px;
		color: #fff;
	}

	&__right {
		display: flex;
		align-items: center;
	}
}

.nav {
	&__list {
		display: flex;
		margin-right: 40px;
	}

	&__item {
	margin-right: 30px;
	text-align: center;
		&:last-child {
			margin-right: 0;
		}
	}

	&__link {
		position: relative;
		color: #fff;
		transition: 0.3s;
		
		&:after {
			content: "";
			position: absolute;
			display: block;
			width: 100%;
			height: 3px;
			margin-top: 3px;
			z-index: 1;
			background-color: #BB945F;
			opacity: 0;
			transition: opacity 0.3s;
		}
		&:hover {
			color: #BB945F;
		}
		&:hover::after {
			opacity: 1;
		}
	}
}

.header__icon {
	cursor: pointer;
	z-index: 10;
	width: 26px;
	height: 26px;
}

