.welcome {
	background-image: linear-gradient(rgba(12, 12, 14, 1),rgba(18, 18, 21, 0.1)), url("../../../img/headerAndWelcome/Welcome.png");
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	&__pos {
		width: 600px;
		padding: 220px 0 160px 0;
	}

	&__title {
		font-family: 'Forum';
		font-size: 2rem;
		padding: 35px 40px 35px 0;
		line-height: 50px;
		letter-spacing: 3px;
		text-align: center;
		text-transform: uppercase;
		color: #fff;
		background-color: #0C0C0E;
	}
}

